[
    {rabbit, [
        {default_user, <<"dummyuser">>},
        {default_pass, <<"dummypassword">>},
        {tcp_listeners, [{"::", 5672}]},
        {ssl_listeners, [5671]},
        {ssl_options, [
            {cacertfile,"/usr/local/bin/certificates/cacert.crt"},
            {certfile,"/usr/local/bin/certificates/cert.crt"},
            {keyfile,"/usr/local/bin/certificates/key"},
            {verify,verify_peer},
            {fail_if_no_peer_cert,false}
        ]}
    ]},
    {rabbitmq_management, [
        {listener, [{port, 15672}]},
        {load_definitions, "/usr/local/bin/rabbitmq-definitions.json"}
    ]},
    {rabbitmq_stomp, [
        {tcp_listeners, [61613]},
        {ssl_listeners, [61614]}
    ]},
    {rabbitmq_web_stomp, [
        {ssl_config, [
            {port, 15671},
            {backlog, 1024},
            {cacertfile,"/usr/local/bin/certificates/cacert.crt"},
            {certfile,"/usr/local/bin/certificates/cert.crt"},
            {keyfile,"/usr/local/bin/certificates/key"},
            {password, "dummypassword"}
        ]}
    ]}
].